@import "colors";
@import "base";

/* =============================================================================
   Primary styles
   Author: Nate Walton
   ========================================================================== */


.pageTitle, #page {
  padding: 0 5%;
  position: relative; }

.nav-tabs {
  padding: 0 6%; }
  
a.refresh {
  margin:-5px 2px;
}

table.table tbody {
  td.title {
    font-weight: bold; }
  td.status {
    min-width: 5em; }
  tr.success td {
    background-color: transparent; }
  tr.requesting td {
    background-color: $yellow0;
    &.reload {
      background:$yellow0 url("../img/spinner.gif") 18px 10px no-repeat; }
    a.refresh {
      display:none; } }
  tr.error td {
    background-color: $red1;
    color: #fff; } }

td.title a {
  color: $blue3;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  tr.error & {
    color: $blue10;
  }
}

.reload-all {
  position: absolute;
  right:6%;
  top:.5em;
}



@import "helpers";
@import "media-queries";
@import "print";