@import "colors";
@import "base";

/* =============================================================================
   Primary styles
   Author: Nate Walton
   ========================================================================== */


.pageTitle, #page {
  padding: 0 5%; }

.nav-tabs {
  padding: 0 6%; }

table.table tbody {
  td.title {
    font-weight: bold; } 
  tr.success td {
    background-color: transparent; }
  tr.processing td {
    background-color: $yellow0; }
  tr.error td {
    background-color: $red1;
    color: #fff; } }

@import "helpers";
@import "media-queries";
@import "print";