<h2>{{pageTitle}} <a id="btn-reload-services" class="btn btn-primary" >Reload</a></h2>


<table class="table table-condensed">
  <thead>
    <th>Service</th>
    <th>URL</th>
    <th>Status</th>
  </thead>
  <tbody>
  {{#each services}}
  <tr class="{{status}}">
    <td class="title">{{title}}</td>
    <td class="url">{{requestUrl}}</td>
    <td class="status">{{status}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>